@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.tab-description {
  height: 95%;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to shadowcity-blood-neon-vtt sheets */
.shadowcity .item-form {
  font-family: "Roboto", sans-serif;
}
.shadowcity .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.shadowcity .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.shadowcity .sheet-header .header-fields {
  flex: 1;
}
.shadowcity .sheet-header h1.charname {
  height: 36px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
}
.shadowcity .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.shadowcity .item-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.shadowcity .item-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.shadowcity .item-header .header-fields {
  flex: 1;
}
.shadowcity .item-header h1.charname {
  height: 36px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
}
.shadowcity .item-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.shadowcity .sheet-tabs {
  flex: 0;
}
.shadowcity .sheet-body,
.shadowcity .sheet-body .tab,
.shadowcity .sheet-body .tab .editor {
  height: 100%;
}
.shadowcity .tox .tox-editor-container {
  background: #fff;
}
.shadowcity .tox .tox-edit-area {
  padding: 0 8px;
}
.shadowcity .resource-label {
  font-weight: bold;
}
.shadowcity .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  font-weight: bold;
}
.shadowcity .items-header > * {
  font-size: 14px;
  text-align: center;
}
.shadowcity .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.shadowcity .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #fff;
}
.shadowcity .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.shadowcity .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.shadowcity .items-list .item-name h3, .shadowcity .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.shadowcity .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.shadowcity .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.shadowcity .items-list .item {
  align-items: center;
  padding: 0 2px;
}
.shadowcity .items-list .item:last-child {
  border-bottom: none;
}
.shadowcity .items-list .item .item-name {
  color: #fff;
}
.shadowcity .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.shadowcity .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.shadowcity .items-list .item-prop-small {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  flex-grow: 0.5;
}
.shadowcity .items-list .item-prop-price {
  flex-grow: 0.75;
  text-align: center;
  font-size: 12px;
}
.shadowcity .items-list .item-prop-quantity {
  flex-grow: 0.5;
  text-align: center;
  font-size: 12px;
}
.shadowcity .items-list .item-prop-gearslot {
  flex-grow: 0.5;
  text-align: center;
  font-size: 12px;
}
.shadowcity .items-list .item-prop-properties {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
}
.shadowcity .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background-color: #ff005d;
  border-radius: 5px;
  font-weight: bold;
}
.shadowcity .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.shadowcity .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.shadowcity .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.shadowcity .effects .item .effect-source,
.shadowcity .effects .item .effect-duration,
.shadowcity .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.shadowcity .effects .item .effect-controls {
  border: none;
}
.shadowcity .sheet-header {
  flex: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4px;
  align-items: center;
  color: white;
  min-height: 120px;
}
.shadowcity .sheet-header .portrait-img {
  grid-row: span 2;
}
.shadowcity .sheet-header .logo-img {
  margin-left: auto;
  margin-right: auto;
}
.shadowcity .item-header {
  flex: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4px;
  align-items: center;
  color: white;
  min-height: 120px;
}
.shadowcity .item-header .item-img {
  grid-row: span 2;
}
.shadowcity .item-header .logo-img {
  margin-left: auto;
  margin-right: auto;
}
.shadowcity fieldset {
  border: 1px solid #ff005d;
  margin: 2px;
  padding: 2px;
}
.shadowcity fieldset .properties-list {
  list-style: none;
  padding: 0;
  gap: 0;
}
.shadowcity .npc-feature-header {
  width: 100%;
  border-bottom: 1px solid #ff005d;
}
.shadowcity .equipment-section-header {
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #ff005d;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 0;
}
.shadowcity .left-half {
  margin-right: 5px;
}
.shadowcity .right-half {
  margin-left: 5px;
  flex-grow: 1.5;
}
.shadowcity .character-main-view {
  align-items: start;
}
.shadowcity .neon-input {
  color: #ff005d;
}
.shadowcity .action-buttons > button {
  margin-left: 2px;
  margin-right: 2px;
}
.shadowcity .single-feature-container {
  border: 1px solid #ff005d;
  border-radius: 5px;
  margin-bottom: 5px;
  min-height: 60px;
}
.shadowcity .single-feature-container .feature-header {
  font-weight: bold;
  margin-bottom: 0.25em;
  background-color: #ff005d;
  font-size: 1.25em;
  text-align: center;
}
.shadowcity .single-feature-container .feature-name {
  text-align: center;
  font-weight: bold;
}
.shadowcity .ability-container .ability-label {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
  background-color: #ff005d;
  padding: 0.15rem;
  border-radius: 0.25rem;
  text-align: center;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.prosemirror,
prose-mirror {
  height: 100%;
}

.custom-dialog .form-group {
  margin: 5px;
}
.custom-dialog .resource-label {
  flex-grow: 2;
}

.application .window-content {
  padding: 2px;
}

/*# sourceMappingURL=shadowcity-blood-neon-vtt.css.map */
