.ability-container{
    .ability-label{
        font-weight: bold;
        margin-bottom: 0.25rem;
        display: block;
        background-color: $c-neon;
        padding: 0.15rem;
        border-radius: 0.25rem;
        text-align: center;
    }
}