.sheet-header {
    flex: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 4px;
    align-items: center;
    color: white;
    min-height: 120px;

    .portrait-img {
        grid-row: span 2;
    }

    .logo-img {
        margin-left: auto;
        margin-right: auto;
    }
}

.item-header {
    flex: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 4px;
    align-items: center;
    color: white;
    min-height: 120px;

    .item-img {
        grid-row: span 2;
    }

    .logo-img {
        margin-left: auto;
        margin-right: auto;
    }
}

fieldset {
    border: 1px solid $c-neon;
    margin: 2px;
    padding: 2px;
    

    .properties-list {
        list-style: none;
        padding: 0;
        gap: 0;
    }
}

.npc-feature-header{
    width: 100%;
    border-bottom: 1px solid $c-neon;
}

.equipment-section-header{
    font-family: $font-primary;
    border-bottom: 1px solid $c-neon;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 0;
}

.left-half{
    margin-right: 5px;
}

.right-half{
    margin-left: 5px;
    flex-grow: 1.5;
}

.npc-sheet-abilities{
    align-items: start;
    
    .right-half{
        flex-grow: 1.75;
    }
}
.character-main-view{
    align-items: start;
}

.neon-input{
    color: $c-neon;
}

.action-buttons{
    > button{
        margin-left: 2px;
        margin-right: 2px;
    }
}