<div class="single-feature-container">
    <div class="feature-header">{{label}}</div>
    {{# if object}}
    <div class="feature-name tooltip-hover" data-tooltip-html="{{{itemTooltipHTML object}}}">{{object.name}}</div>
    {{else}}
    <div class="feature-name">Drag'N'Drop</div>
    {{/if}}
</div>