{{#if (eq checkCriticalMissOrHitResult 20)}}
    <div class="critical-hit">Critical Hit!</div>
{{else if (eq checkCriticalMissOrHitResult 1)}}
    <div class="critical-miss">Critical Failure!</div>
{{/if}}