<form class="roll-card">
  <div class="card-title">
    {{label}}
  </div>
  {{{rollRenderedHTML}}}
  {{#if (gt difficulty 0)}}
    <div class="card-title">
      Difficulty: {{difficulty}} - {{#if isSuccess}}<span style="color:green">Success</span>{{else}}<span style="color:red">Failure</span>{{/if}}
    </div>
  {{/if}}
  {{> 'systems/shadowcity-blood-neon-vtt/templates/chat/_critical-hit-or-miss-partial.hbs' }}
</form>