<form class="roll-card">
    <div class="card-title">
        {{label}}
    </div>
    {{{rollRenderedHTML}}}
    <div class="card-title">
        Damage
    </div>
    {{{rollDamageRenderedHTML}}}
</form>