<div class="custom-dialog">
    <div class="form-group">
        <label class="resource-label">{{label}}:</label>
        <input type="hidden" name="label" value="{{label}}" data-dtype="String" />
        <input type="text" name="formula" value="{{formula}}" data-dtype="String" />
    </div>
</div>