<div class="custom-dialog">
    <input type="hidden" name="weaponId" value="{{weaponId}}" data-dtype="String" />
    <div class="form-group">
        <label class="resource-label">{{label}}:</label>
        <input type="text" name="formula" value="{{formula}}" data-dtype="String" />
    </div>
</div>