<header class="item-header">
    <img class="item-img" data-action="editImage" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="120"/>
    <img class="logo-img" src="systems/shadowcity-blood-neon-vtt/assets/img/logo_mini.webp" class="system-logo" title="ShadowCity: Blood & Neon" width="150px"/>
    <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
</header>