<select name="{{name}}">
    <option value="physique" {{#if (eq value "physique")}}selected{{/if}}>Physique</option>
    <option value="awareness" {{#if (eq value "awareness")}}selected{{/if}}>Awareness</option>
</select>