// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';


/* Styles limited to shadowcity-blood-neon-vtt sheets */
.shadowcity {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
  @import 'components/sheet';
  @import 'components/feature';
  @import 'components/ability';
}

@import 'components/chat';

.prosemirror,
prose-mirror {
  height: 100%;
}

.custom-dialog {

  .form-group {
    margin: 5px;
  }

  .resource-label {
    flex-grow: 2;
  }
}

.application .window-content {
  padding: 2px;
}