<div class="{{cssClass}}" autocomplete="off">
    <div class="grid grid-2col">
        <div>
            <label>Bloodpoints</label>
            <input type="text" name="system.bloodpoints" value="{{system.bloodpoints}}" data-dtype="Number" />
        </div>
        <div>
            <label>Class</label>
            <input type="text" name="system.class" value="{{system.class}}" data-dtype="String" />
        </div>
    </div>
</div>