<div class="{{cssClass}}" autocomplete="off">
  <div class="grid grid-3col">
    <div>
      <label>Quantity</label>
      <input type="number" name="system.quantity" value="{{system.quantity}}" />
    </div>
    <div>
      <label>Price</label>
      <input type="number" name="system.purchasePrice" value="{{system.purchasePrice}}" />
    </div>
    <div>
      <label>Properties</label>
      <input type="text" name="system.properties" value="{{system.properties}}" />
    </div>
  </div>

</div>