<div class="{{cssClass}}" autocomplete="off">
    <div>
        <label>Bloodpoints</label>
        <input type="text" name="system.bloodpoints" value="{{system.bloodpoints}}"  data-dtype="Number"/>
    </div>
</div>